.chapterCatalog {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  .chapterCatalogContainer {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    ul.attention {
      margin-left: 20px;
      li {
        list-style: square;
      }
    }
    .courseCatalogCard {
      cursor: pointer;
      border-radius: 18px;
      .ant-card-body {
        padding: 0;
      }
    }
  }
}


